<div *ngIf="selected">
  <app-pacientes-detail [pacienteDetail]="selectedPaciente"></app-pacientes-detail>
 </div>

<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th class="h4">Nombre</th>
          <th class="h4">Edad</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paciente of pacientes" (click)="onSelected(paciente)">
          <td >
            <h5>{{paciente.nombre}}</h5>
          </td>
          <td>
            <h5>{{paciente.edad}}</h5>
          </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-6">
    <h3>Numero de menores: {{numeroDeMenoresDeEdad}}</h3>
  </div>
</div>